<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE cruisecontrol [
  <!ENTITY % entities SYSTEM "entities.xml">
  %entities;
]>

<cruisecontrol>
  <project name="MbUnit v3">
    <workingDirectory>&ProjectRoot;\MbUnit v3\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MbUnit v3\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MbUnit v3" />
    <webURL>&HostName;server/local/project/MbUnit+v3/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="2:30" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/v3</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>3.0.0.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>BuildServer.msbuild</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\release</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\reports\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>

  <project name="MbUnit v2">
    <workingDirectory>&ProjectRoot;\MbUnit v2\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MbUnit v2\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MbUnit v2" />
    <webURL>&HostName;server/local/project/MbUnit+v2/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="3:00" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/v2</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>2.4.2.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <projectFile>BuildServer.msbuild</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\release</sourceDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\reports\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>

  <project name="Gallio Book">
    <workingDirectory>&ProjectRoot;\Gallio Book\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\Gallio Book\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\Gallio Book" />
    <webURL>&HostName;server/local/project/Gallio+Book/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="3:30" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/Book</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix></prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>  
</cruisecontrol>
