<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE cruisecontrol [
  <!ENTITY % entities SYSTEM "entities.xml">
  %entities;
]>

<cruisecontrol>
  <project name="MbUnit v3.0.7" queue="MbUnit">
    <workingDirectory>&ProjectRoot;\MbUnit v3.0.7\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MbUnit v3.0.7\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MbUnit v3.0.7" />
    <webURL>&HostName;server/local/project/MbUnit+v3.0.7/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="2:30" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/v3</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>3.0.7.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger /m /p:AssemblyVersion=3.0.7.0</buildArgs>
        <timeout>5400</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
      <buildpublisher>
        <sourceDir>build\report\LibCheck</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;\LibCheck</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
      <!--
      <forcebuild>
        <project>MbUnit v3 (Mono)</project>
      </forcebuild>
      -->
    </publishers>
  </project>

  <project name="MbUnit v3.0.6" queue="MbUnit">
    <workingDirectory>&ProjectRoot;\MbUnit v3.0.6\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MbUnit v3.0.6\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MbUnit v3.0.6" />
    <webURL>&HostName;server/local/project/MbUnit+v3.0.6/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="5:30" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/branches/v3.0.6</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>3.0.6.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger /m /p:AssemblyVersion=3.0.6.0</buildArgs>
        <timeout>5400</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
      <buildpublisher>
        <sourceDir>build\report\LibCheck</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;\LibCheck</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>

<!--
  <project name="MbUnit v3 (Mono)" queue="MbUnit">
    <workingDirectory>&ProjectRoot;\MbUnit v3 (Mono)\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MbUnit v3 (Mono)\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MbUnit v3 (Mono)" />
    <webURL>&HostName;server/local/project/MbUnit+v3+(Mono)/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/v3</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>3.0.7.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger /m  /p:AssemblyVersion=3.0.7.0 /p:Runtime=Mono</buildArgs>
        <timeout>5400</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>
-->

  <project name="MbUnit v2" queue="MbUnit">
    <workingDirectory>&ProjectRoot;\MbUnit v2\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MbUnit v2\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MbUnit v2" />
    <webURL>&HostName;server/local/project/MbUnit+v2/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="3:00" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/v2</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>2.4.2.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <projectFile>BuildServer.msbuild</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\release</sourceDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\reports\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>

  <project name="Gallio Book">
    <workingDirectory>&ProjectRoot;\Gallio Book\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\Gallio Book\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\Gallio Book" />
    <webURL>&HostName;server/local/project/Gallio+Book/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="3:30" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/Book</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix></prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>  
  
  <project name="WebSites">
    <workingDirectory>&ProjectRoot;\WebSites\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\WebSites\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\WebSites" />
    <webURL>&HostName;server/local/project/WebSites/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="4:00" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>&SVNRoot;/trunk/WebSites</trunkUrl>
      <webUrlBuilder type="websvn"><url>&SVNRoot;{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix></prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>

  <project name="MetaBuild">
    <workingDirectory>&ProjectRoot;\MetaBuild\Work</workingDirectory>
    <artifactDirectory>&ProjectRoot;\MetaBuild\Artifacts</artifactDirectory>
    <state type="state" directory="&ProjectRoot;\MetaBuild" />
    <webURL>&HostName;server/local/project/MetaBuild/ViewLatestBuildReport.aspx</webURL>
    &ExternalLinks;

    <triggers>
        <intervalTrigger name="continuous" seconds="120" buildCondition="IfModificationExists" />
        <scheduleTrigger name="nightly" time="4:30" buildCondition="ForceBuild" />
    </triggers>

    <sourcecontrol type="svn">
      <trunkUrl>http://metabuild.googlecode.com/svn/trunk</trunkUrl>
      <webUrlBuilder type="websvn"><url>http://metabuild.googlecode.com/svn{0}</url></webUrlBuilder>
    </sourcecontrol>

    <labeller type="defaultlabeller">
      <prefix>0.0.1.</prefix>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <projectFile>CCNet.msbuild</projectFile>
        <buildArgs>/noconsolelogger /m</buildArgs>
        <timeout>1800</timeout>
        &MSBuildLogger;
      </msbuild>
      <buildpublisher>
        <sourceDir>build\dist</sourceDir>
	<useLabelSubDirectory>false</useLabelSubDirectory>
        <publishDir>&DistributablesRoot;</publishDir>
      </buildpublisher>
    </tasks>

    <publishers>
      <merge><files><file>build\report\*.xml</file></files></merge>
      &StandardPublishers;
    </publishers>
  </project>
</cruisecontrol>
