<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="mbunit" type="MbUnit.Core.Config.MbUnitConfigurationSectionHandler, MbUnit.Core" />
    </configSections>
    <appSettings>
    </appSettings>
    <mbunit>
        <cache-path>Cache</cache-path>
        <fixture-factories>
            <factory>MbUnit.Core.ArgumentFixtureFactory, MbUnit.Core</factory>
        </fixture-factories>
    </mbunit>    
</configuration>
