<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
        <add key="NUnitFolder" value="c:\Program Files\TestDriven.NET 1.1\NUnit" />
        <add key="DummyValue" value="HelloWorld" />
        <add key="NAntPath" value="C:\source\MbUnit\v2\bin\nant\nant.exe" />
    </appSettings>
 </configuration>
