<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
	<remoteServices>
		<servers>
			<!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="false" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
			<cctrayDownloadPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<!-- Potential disclosure of sensitive information
			<serverLogServerPlugin />
			<serverInformationServerPlugin />
			-->
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<latestBuildReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
			<projectStatisticsPlugin xslFileName="xsl\StatisticsGraphs.xsl" />
			<!-- Potential disclosure of sensitive information
			<serverLogProjectPlugin />
			<viewConfigurationProjectPlugin />
			-->
		</projectPlugins>
		<buildPlugins>
			<buildReportBuildPlugin>
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
					<xslFile>xsl\compile-msbuild.xsl</xslFile>
					<xslFile>xsl\MBUnitSummary.xsl</xslFile>
					<xslFile>xsl\NCoverExplorerSummary.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>

			<buildLogBuildPlugin />
			
			<xslReportBuildPlugin description="MSBuild Output" actionName="MSBuildOutput" xslFileName="xsl\msbuild.xsl" />

			<xslReportBuildPlugin description="Gallio Test Report" actionName="GallioTestReport" xslFileName="gallio\xsl\Gallio-Report.ccnet-details.xsl">
				<includedProjects>
					<projectName>MbUnit v3</projectName>
					<projectName>MbUnit v3 (Mono)</projectName>
				</includedProjects>
			</xslReportBuildPlugin>
          <xslReportBuildPlugin description="Gallio Test Report (Condensed)"
                                actionName="GallioTestReportCondensed"
                                xslFileName="gallio\xsl\Gallio-Report.ccnet-details-condensed.xsl">
				<includedProjects>
					<projectName>MbUnit v3</projectName>
					<projectName>MbUnit v3 (Mono)</projectName>
				</includedProjects>
			</xslReportBuildPlugin>
			<gallioAttachmentBuildPlugin />

			<xslReportBuildPlugin description="MbUnit Test Report" actionName="MbUnitTestReport" xslFileName="xsl\MBUnitDetails.xsl">
				<includedProjects>
					<projectName>MbUnit v2</projectName>
				</includedProjects>
			</xslReportBuildPlugin>

			<xslReportBuildPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCoverReporting30.xsl">
				<includedProjects>
					<projectName>MbUnit v3</projectName>
				</includedProjects>
			</xslReportBuildPlugin>

			<xslReportBuildPlugin description="FxCop Report" actionName="FxCopBuildReport" xslFileName="xsl\FxCopReport.xsl">
				<includedProjects>
					<projectName>MbUnit v3</projectName>
				</includedProjects>
			</xslReportBuildPlugin>

			<!--
			<xslReportBuildPlugin description="NUnit Details" actionName="NUnitDetailsBuildReport" xslFileName="xsl\tests.xsl" />
			<xslReportBuildPlugin description="NUnit Timings" actionName="NUnitTimingsBuildReport" xslFileName="xsl\timing.xsl" />
			<xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\NAnt.xsl" />
			<xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NAntTiming.xsl" />
			<xslReportBuildPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCover.xsl" />
			<xslReportBuildPlugin description="Simian Report" actionName="SimianBuildReport" xslFileName="xsl\SimianReport.xsl"/>
			<xslReportBuildPlugin description="Fitnesse Report" actionName="FitnesseBuildReport" xslFileName="xsl\FitnesseReport.xsl"/>
			-->

			<!-- This is an example of using Project-specific build plugins
			<xslReportBuildPlugin description="My Report" actionName="MyReport" xslFileName="xsl\MyReport.xsl">
				<includedProjects>
					<projectName>My Project</projectName>
				</includedProjects>
			</xslReportBuildPlugin>
			<xslReportBuildPlugin description="My Other Report" actionName="MyOtherReport" xslFileName="xsl\MyOtherReport.xsl">
				<excludedProjects>
					<projectName>My Project</projectName>
				</excludedProjects>
			</xslReportBuildPlugin>
			-->
		</buildPlugins>
	</plugins>
</dashboard>
