<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestFu.Tests.Properties.Settings.Connection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="TestFu.Tests.Properties.Settings.Connection1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="TestFu.Tests.Properties.Settings.Connection2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="TestFu.Tests.Properties.Settings.Connection3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Data\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>